h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.para1{
    color: aquamarine;
    font-size: 16px;
}
body {
    display: block;
    margin: 8px;
}
body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}
.footer{
    text-align: right;
    color: grey;
}